/*
font-family: "Outfit", sans-serif;
*/


:root {
  --light-bg: #FFFFFF;
  --dark-bg: #000000;
  --light-text: #000000;
  --dark-text: #FFFFFF;
}
body{
  margin: 0;
  width: 100vw;
  min-width: 275px;
}
#root {
  text-align: center;
}

/* GeoLocation */
.heading-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.weather-in-header {
  margin: 1rem 0 1rem 10px;
}
.absolute-position-div {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  right: 10px;
  top: 10px;
}

/* Time */
.time {
  font-size: 30px;
  margin: 0;
}


/* MEDIA QUERIES */
@media (max-width: 900px) {
  .heading-div {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .weather-in-header {
    margin-left: 10px;
  }
}
@media (max-width: 450px) {
  .weather-in-header {
    font-size: 20px;
  }
  .time {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  #root {
    zoom: .8;
  }
}
