/*
font-family: "Outfit", sans-serif;
*/


:root {
  --light-bg: #FFFFFF;
  --dark-bg: #000000;
  --light-text: #000000;
  --dark-text: #FFFFFF;
}

body{
  margin: 0;
  width: 100vw;
  min-width: 275px;
  overflow-x: hidden;
}

/* Header */
.heading-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem 0.3rem;
}
.heading-div h2 {
  margin: 0;
  padding: 0;
}
.weather-in-header {
  margin: 1rem 0 1rem 10px;
}
.time-theme-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/* Time */
.time {
  font-size: 30px;
  margin: 0;
}

/* GeoLocation */
.forecast-modules {
  display: flex;
}
.list-modules {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}


/* MEDIA QUERIES */
@media (max-width: 900px) {
  .heading-div {
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .weather-in-header {
    margin-left: 10px;
  }
}
@media (max-width: 450px) {
  .weather-in-header {
    font-size: 20px;
  }
  .time {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  #root {
    zoom: .8;
  }
}
