.CurrentWeather {
  display: inline-block;
  border: 1px solid;
  border-radius: 20px;
  position: relative;
  margin:  5px 17px;
  padding: 1rem;
}
.CurrentWeather h3 {
  margin: 0;
  padding: 0;
}
.temp-div {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.temp-div p {
  margin-bottom: 8px;
  margin-top: 1rem;
}
.temp-unit:hover {
  cursor: pointer;
}
.current-prec {
  font-size: 1.2rem;
  margin: 0 0 1.2rem 0;
}
.current-droplet {
  margin-right: 8px;
}
.detailed-forecast {
  margin: 0;
}
.forecast-icon {
  border-radius: 10px;
}


