.DailyList {
  display: flex;
  border: 1px solid;
  border-radius: 20px;
  position: relative;
  margin:  5px 17px 5px 0;
  overflow-x: auto;
  height: fit-content;
  padding: 0.3rem 0.2rem;
}
.DailyList ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.DailyList ul li {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 5rem;
}
.DailyList ul li p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.DailyList ul li img {
  margin: 0 auto;
  width: 3rem;
}
